.red{
  color: #f00;
}
.xing:before{
  content: "* ";
  color: #f00;
  font-size: 16px;
  vertical-align: middle;
}
.disabled{
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
::ng-deep .ant-card-body{
  padding: 15px!important;
}
::ng-deep .ant-table{
  font-size: 12px!important;
}
